
  <h3>ホーム画面</h3>
    <% @memos.each do |memo| %>
      <div class = "col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">　<%= memo.title %> <a href="/memos/<%=memo.id%>" data-method="delete">削除</a></div>
          <div class="panel-body">
            <%= memo.body %>
          </div>
        </div>
      </div>
    <% end %>


